<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FABROMEN</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>
    <script src="/javascripts/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/e379cc4f28.js" crossorigin="anonymous"></script>
</head>
<body>
    <main>
        <%- include('../partials/flash')%>
        <%-body%>
    </main>
</body>
</html>